* {
    box-sizing: border-box;
}

body {
    background-color: rgb(141, 156, 114);

}

header, footer, .side, .center {
    background-color: rgb(255, 216, 185);
    padding: 10px;
    
}

main {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

img {
    width: 100%;
}
.side {
    width: 25%;
}

.center {
    width:50%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    transition: background 1s;

}

footer :hover {
    background: lightpink; 
}


@media screen and (max-width:800px) {
    body {
        background: lightslategrey;
        color:sienna;
        
    }

    main {
        flex-direction: column;
    }

    .side {
        width: 100%;
    }

    .center {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    body {
        background: lightsalmon;
        font-size: 130%;
    }
}
