* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    transition: background .5s;
}

body.activated {
    background-color: darkslategray;
}

.box {
    padding: 20px;
    background-color: slategray;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    border-left: 1px solid;
    transition: right .5s;
}


.activated {
    right: 0px;
  }

  button {
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
    background-color: white;
    transition: background .5s;
  }

  button:hover {
    background-color: pink;
  }

  button:active {
    background-color: lightgreen;
  }

  .square {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    border: 1px solid;
    transition: all 1s;
  }

  .square.activated {
    background-color: lightyellow;
    transform: rotate(360deg);
  }
  