* {
    box-sizing: border-box;
}

.main-container {
    background: blanchedalmond;
    padding: 20px;
    height: 500px;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   gap: 20px;
}

.item {
    background: coral;
    border: 1px solid;
    text-align: center;
    width: 300px;
}

.special {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;

}

.pink {
    background: darkgreen;
    padding: 10px;
    border: 1px solid;
}