* {
    box-sizing: border-box;
}

body {
    background-image: url(pcbg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

h1 {
    font-family: cursive;
    color: olive;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

p {
    color:salmon;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}

.sticker {
    margin:50px;
    column-count: 2;
    column-span: 50px;
   

}


.draggable {
    cursor: grab;
}
